@model FoodAppDALLayer.Models.User

@{
    ViewBag.Title = "DeleteUsr";
}

<div class="text-black">
    <h1>
        <a href="@Url.Action("AllUsers")" style="color:black !important; text-decoration:none">
            <i class="bi bi-arrow-left-circle-fill"></i> Delete User
        </a>
    </h1>
</div>
<h3>Are you sure you want to delete this?</h3>
<div class="p-4" style="background-color:lightgoldenrodyellow">
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal m-4">
      
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color mt-3">
            <input type="submit" value="Delete" class="btn btn-default btn-danger" /> 
  
        </div>
    }
</div>
