@model FoodAppDALLayer.Models.Rating

@{
    ViewBag.Title = "AddRatings";
}

<h2>Give Your Valid Feedback</h2>

@using (Html.BeginForm("AddRatings", "Rating", FormMethod.Post, new { @class = "col-md-6" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        @Html.HiddenFor(model => model.UserId, new { Value = @Session["UserId"] })


        @Html.HiddenFor(model => model.OrderId, new { Value = ViewBag.orderid })

        <div class="form-group">
            @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Comments, new { htmlAttributes = new { @class = "form-control" } })<br />
                @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
           
            <div class="col-md-10">
                <div class="stars" data-rating="1">
                    @for (var i = 1; i <= 5; i++)
                    {
                        <span class="star" data-value="@i"><i class='bi bi-star-fill'></i></span>
                    }
                </div>
                @Html.HiddenFor(model => model.RatingCount, new { @class = "rating-value" })
                @Html.ValidationMessageFor(model => model.RatingCount, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group mt-3">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Rate Now" class="btn btn-warning" />
            </div>
        </div>
    </div>
}

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.star').click(function () {
                var value = $(this).data('value');
                $('.star').removeClass('selected');
                $(this).prevAll('.star').addBack().addClass('selected');
                $('.rating-value').val(value);
            });
        });
    </script>
}

<style>
    .star {
        cursor: pointer;
        font-size: 1.5em;
        color: #ccc; 
    }

        .star.selected {
            color: #f39c12;
        }
</style>
